:root {
  --primaer-hvid: #FFFFFF;
  --primaer-sort: #000000;
  --primaer-groen: #013533;
  --sekundaer-groen: #345D5C;
  --guld: #F39200;
}
/* ----- Generelt ----- */

body {
  background-color: var(--primaer-groen);
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans Condensed", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- Logo ----- */
.logo {
  width: 100px; 
  height: auto; 
}

/* ----- Menu ----- */
.menu {
  list-style: none; 
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end; /* Skubber alt til højre */
}

/* ----- Header & navigationsbaren ----- */
#london-header {
  background-color: #000;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#london-nav {
  width: 100%;
}

#london-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.london-nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
}

/* Styling for logo container */
.menu img.logo {
  margin-right: auto; /* Skubber alt andet til højre */
}

/* Styling for navigation links container */
.menu li {
  margin-left: 15px; /* Mellemrum mellem links */
}

/* Specifik styling for book-knappen */
.london-book-btn {
  background-color: var(--sekundaer-groen);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: var(--guld);
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}


/* ----- CTA knap til bookning af bord ----- */
.london-book-btn {
  background-color: var(--sekundaer-groen);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: var(--guld);
  cursor: pointer;
}

/* ----- Velkommen sektionen ----- */
#london-welcome-section {
  text-align: center;
  padding: 300px 0;
  background-image: url('Images/cocktail-cover.webp'); 
  background-size: cover;
  color: #fff;
}

/* ----- Knapper i velkommen sektionen ----- */
.london-buttons {
  margin-top: 20px;
}

.london-button-item {
  background-color: var(--primaer-groen);
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 30px;
  color: var(--guld);
  cursor: pointer;
}

/* ----- Om London Bar ----- */
#london-about-section, #london-packages-section {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  padding: 40px 20px;
  text-align: center;
  background-color: var(--primaer-groen-groen);
  color: var(--primaer-hvid);
}

#london-about-title h2 {
  color: var(--guld);
}

/* ----- Bordpakker ----- */
.bordpakker {
  padding: 6rem 2rem 1rem;
  max-width: 87.5rem;
  margin: 0 auto;
  display: flex;
}

.bordpakker-content {
  display: flex;
  gap: 4rem;
  background-color: var(--sekundaer-groen);
  border-radius: 1.5rem;
  padding: 2rem;
}

.bordpakker-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--primaer-hvid);
}

.bordpakker-text h1 {
  color: var(--guld);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

.bordpakke-knap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem 0;
}

.bp-knap {
  background-color: var(--primaer-groen);
  color: var(--guld);
  border: none; 
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: 'Sofia Sans Condensed', sans-serif;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.bp-knap a {
  text-decoration: none;
  color: var(--guld);
}

/* bordpakke slideshow */
.drink-card {
  flex: 1;
}

.slideshow {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.drink-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink-image img {
  width: 90%;
  height: auto;
  border-radius: 1.5rem;
}

/* ----- Navigationspilene ----- */
.prev, .next {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: var(--primaer-hvid);
  font-weight: bold;
  font-size: 2.5rem;
  transition: 0.6s ease;
  margin: auto;
}

.next {
  right: auto;
}

.drink-info {
  color: var(--primaer-hvid);
  margin-top: 0.5rem;
}

.drink-info ul {
  padding-left: 3rem;
}

#drink-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.3rem 0;
}
#price {
  font-size: 1.3rem;
  font-weight: semi-bold;
  margin: 0.3rem 0;
}
#quantity {
  margin: 0.3rem 0;
}
#options {
  margin: 0.3rem 0;
}
#pitcher {
  margin: 0.3rem 0;
}
#spiritus {
  margin: 0.3rem 0;
}
#mixer {
  margin: 0.3rem 0;
}
#pureshots {
  margin: 0.3rem 0;
}

/* ----- Begivenheder ----- */

body {
  background-color: #013533; /* Dark green background */
}

.event-section {
  display: flex;
  justify-content: space-around; /* Space between cards */
  padding: 40px 20px; /* Padding around the section */
}

.event-card {
  position: relative; /* Position for absolute text */
  width: 30%; /* Width of each card */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.event-card img {
  width: 100%; /* Full width of the card */
  height: 100%; /* Full height of the card */
  object-fit: cover; /* Cover the box while maintaining aspect ratio */
}

.event-card h3 {
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  color: #FFFFFF; 
  font-size: 1.5rem; 
  text-align: center; 
  padding: 10px; 
  border-radius: 2rem; 
  
}

/* ----- Footer ----- */

#london-footer {
  background-color: #000; 
  color: #fff; 
  padding: 20px 0;
  flex-wrap: nowrap;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;
 padding-inline: auto;

}

.footer-section {
  flex: 1; /* Allow sections to grow equally */
  margin: 10px; /* Space between sections */
}

.footer-section h2 {
  font-size: 1.5rem; /* Adjust heading size */
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px; /* Space between icons */
}

.social-icons img {
  width: 24px; /* Adjust icon size */
  height: auto;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  background-color: var(--primaer-sort);

}

.footer-bottom p {
  margin: 10px 0;
  background-color: var(--primaer-sort);

}

.footer-bottom nav {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between links */
  background-color: var(--primaer-sort);

}

.footer-bottom a {
  color: #fff; /* White text for links */
  text-decoration: none; /* Remove underline */
  background-color: var(--primaer-sort);
}

.footer-bottom a:hover {
  text-decoration: underline; /* Underline on hover */
}

input[type="email"] {
  padding: 10px;
  background-color: #013533;
  border: none;
  border-radius: 38px;
  margin-right: 10px; /* Space between input and button */
}

button {
  padding: 10px 20px;
  background-color: #013533; /* Adjust button color */
  color: #fff; /* White text */
  border: none;
  border-radius: 38px;
  cursor: pointer;
}

button:hover {
  background-color: #345D5C; /* Darker shade on hover */
}

